@font-face {
    font-family: "Cinzel";
    src: url("fonts/CinzelFont.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cinzel", Arial, Helvetica, sans-serif;

    /*outline: 1px solid red;*/
}

body{
    background-color: #ebe3d5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    border-bottom: dotted #e8c872;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 5rem;
    padding: 0 10rem;
}

nav ul li button{
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    font-size: 1.5rem;
    color: #443e34;
    padding: 10px 0;
    font-weight: 800;

    transition: all 0.5s ease;
}

nav ul li button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 3px;
    background-color: #ebe3d5;

    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
}

nav ul li button:hover::after {
    transform: scaleX(1);
}

nav ul li button.active {
    color: #ebe3d5;
}

nav ul li button.active::after {
    transform: scaleX(1);
}

main{
    flex: 1;
    font-size: 2rem;
}

/*intro page*/
#page1{
    padding: 2rem 6rem;

    overflow-wrap: break-word;
    white-space: normal; 

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    color:#443e34;
}

#page1 .intro{
    grid-column: 1;
    grid-row: 1;
}

#page1 .description{
    grid-column: 2;
    grid-row: 1;

    font-weight:500;
}

#page1 .roles {
    grid-column: 1/3;
    grid-row: 2;

    display: grid;
    grid-template-columns:
        minmax(0,1fr)
        minmax(0,1fr)
        minmax(0,1fr);
    gap: 2rem;
}

#page1 .roles h2{
    grid-column: 1/4;
    text-align: center;
    margin-bottom: 2rem;
}

#page1 .intro, .description, .roles{
    min-width: 0;

    background-color: #f7f1e4;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
#page1 .card{
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    background: #687465;
    border: 3px solid #e8c872;
    border-radius: 12px;
    text-align: center;
    padding: 6rem 2rem 2rem;
    position: relative;
    transition: all 1s ease;
}

#page1 .card h2,
#page1 .card p{
    overflow-wrap: break-word;
}

#page1 .card:hover{
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(201,157,42,.35);
}


footer{
    border-top: dotted #e8c872;
}
header, footer{
    background-color: #687465;
    color: #ebe3d5;
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
}

.page{
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    width: 100%;
    transform: translateY(20px);
}

.page.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.highlight{
    color: #687465;
    font-size: 1.2em;
}

/*tablet*/
@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        padding: 0;

    }

    nav ul li button {
        font-size: 1rem;
    }

    h1 {
        text-align: center;
        font-size: 2rem;
    }

    main {
        padding: 1.5rem;
    }

    #page1 {
        grid-template-columns: 1fr;
    }

    #page1 .intro,
    #page1 .description,
    #page1 .roles {
        grid-column: 1;
    }

    #page1 .roles {
        grid-template-columns: 1fr;
    }


    header,
    footer {
        padding: 1rem;
    }

}